version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_DASHBOARD_URL=http://localhost:3001/users/login/dashboard
    depends_on:
      - backend
